In [10]:
#WHILE LOOP

a = 0
while a < 7:
    print(a * "*")
    a += 1
#%%%%%%%%%%%%%%%%%%%%%%
#perintah while akan tidak berfungsi atau tidak menghasilkan apapun saat syarat yang diberikan tidak benar

*
**
***
****
*****
******

In [12]:
a = 0
while a > 7:
    print(a * "*")
    a += 1
#%%%%%%%%%%%%%%%%%%%%%%
#seperti ini adalah contoh syarat yang diberikan salah

In [13]:
#LIST DI PYTHON

bulan = ["januari", "februari", "maret", "april", "mei"]
print(bulan)

['januari', 'februari', 'maret', 'april', 'mei']

In [14]:
print(bulan[2])

maret

In [15]:
print(bulan[-1])

mei

In [16]:
print(bulan[0:4])
#%%%%%%%%%%%%%%%%%%%%%%%%%%
#jika pada strings index yang dihitung adalah jumlah huruf beserta spasi disini yang dihitung aalah jumlah kata

['januari', 'februari', 'maret', 'april']

In [17]:
bulan[0] = "desember"
print(bulan)
#%%%%%%%%%%%%%%%%%%%%%%%%%%
#ketika kita ingin mengubah list yang ada bisa gunakan seperti ini

['desember', 'februari', 'maret', 'april', 'mei']

In [20]:
#METODA LIST

bulan = ["januari", "maret", "april"]
bulan.append("mei")
print(bulan)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#ketika kita ingin menambahkan isi pada list yang ada bisa gunakan append

['januari', 'maret', 'april', 'mei']

In [21]:
bulan.insert(1,"februari")
print(bulan)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#ketika ingin menambahkan isi list tetapi dengan urutan yang berbeda ntah di tengah atau di depan bisa gunakan insert

['januari', 'februari', 'maret', 'april', 'mei']

In [22]:
bulan.remove("maret")
print(bulan)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#untuk menghilangkan isi bisa gunakan remove

['januari', 'februari', 'april', 'mei']

In [23]:
print("maret" in bulan)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#karena maret sudah dihapus maka sudah tidak ada lagi di list yang baru

False

In [24]:
print("januari" in bulan)

True

In [25]:
print(len(bulan))
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#len digunakan untuk menghitung jumlah kata atau list yang ada

4

In [26]:
#FOR LOOP

zodiak = ["taurus", "libra", "leo", "aquarius"]
for jenis in zodiak:
    print(jenis)
#%%%%%%%%%%%%%%%%%%%%%%%%%%
#for loop bisa digunakan untuk menampilkan semua isi yang ada pada list
#untuk menghasilkan semua isi list tidak hanya bisa dengan menggunakan for loop saja tetapi bisa juga menggunakan while 
#untuk penggunaan while atau for loop itu nanti tergantung jenis data yang akan diolah

taurus
libra
leo
aquarius

In [27]:
#FUNGSI RANGE

banyak = range(10)
print(banyak)
#%%%%%%%%%%%%%%%%%%%%%%%%%%
# range digunakan untuk bilangan berurutan

range(0, 10)

In [28]:
for isi in banyak:
    print(isi)
#%%%%%%%%%%%%%%%%%%%%%%%%%
#bila digunakan untuk bilangan yang berurutan seperti ini

0
1
2
3
4
5
6
7
8
9

In [29]:
for isi in range(3,8):
    print(isi)

3
4
5
6
7

In [30]:
for isi in range(0,10,3):
    print(isi)
#%%%%%%%%%%%%%%%%%%%%%%%%%%%
#ini adalah bila range digunakan untuk bilangan berpola

0
3
6
9